[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
streamlit = "*"
streamlit-chat = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
newsapi-python = "*"
markdown = "*"
python-utils = "*"
torch = "*"
open-clip-torch = "*"
wolframalpha = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
